apiVersion: v1
kind: Secret
metadata:
  name: apidepot-secret
  namespace: default
  labels:
    app: apidepot-secret
data:
  main_github_client_id: <MAIN_GITHUB_CLIENT_ID>
  main_github_secret: <MAIN_GITHUB_CLIENT_SECRET>
  test_github_client_id: <TEST_GITHUB_CLIENT_ID>
  test_github_secret: <TEST_GITHUB_CLIENT_SECRET>